{% extends 'main.html' %}

{% block content %}

<div class="container my-5">
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Tweet App Homepage</h1>
            <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquet lectus proin nibh nisl condimentum id.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in
                cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>
            <a class="btn btn-primary" role="button">See What's Poppin!»</a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}