<!DOCTYPE html>
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="{% url 'home' %}">Tweet App</a>
      <div>
        {% if not user.is_authenticated and page != 'register' and page != 'login'  %}
        <a class="btn btn-outline-light me-2 fs-5" role="button" href="{% url 'login' %}">Login</a>
        <a class="btn btn-outline-light me-5 fs-5" role="button" href="{% url 'register' %}">Sign-up</a>
        {% endif %}
        
        {% if user.is_authenticated %}
          {% if page != 'tweets' %}
        <a class="btn btn-outline-light me-2 fs-5" role="button" href="{% url 'tweets' %}">Tweets</a>
          {% endif %}

          {% if page != 'profile' %}
        <a class="btn btn-outline-light me-2 fs-5" role="button" href="{% url 'profile' %}">{{user.first_name}}</a>
          {% endif %}
          
        <a class="btn btn-outline-light me-2 fs-5" role="button" href="{% url 'logout' %}">Logout</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>


<!-- {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="btn btn-outline-light me-2 fs-5" role="button" href="#">Account</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light me-2 fs-5" role="button" href="#">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-light me-2 fs-5" role="button" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light me-5 fs-5" role="button" href="{% url 'register' %}">Sign-up</a>
          </li>
          {% endif %} -->