{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <p><div class="d-grid">
        <button class="btn btn-outline-dark fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Share your story !
        </button>
    </div></p>
    <form method="POST" class="collapse" id="collapseExample">
        {% csrf_token %}
        <div class="card card-body">
            {{form.content}}
            <div class="container d-grid">
                <button class="btn btn-dark fs-5" type="submit">Tweet</button>
            </div>
        </div>
    </form>

    {% for tweet in tweets %}
    <div class="card my-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <a class="text-decoration-none" href="{% url 'other-profile' tweet.author.id %}">
                        {{tweet.author.name}}
                    </a>
                </div>
                <div class="col text-muted d-grid justify-content-md-end">Posted on {{tweet.created|date:"M d, Y"}}</div>
            </div>
        </div>
        <div class="card-body">
            {{tweet.content}}
        </div>
            <ul class="row row-cols-auto ms-2 list-unstyled">
                <form action="{% url 'like-tweet' %}" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="tweet_id" value="{{tweet.id}}">

                    {% if user.profile not in tweet.liked.all %}
                    <li>
                        <button class="btn btn-outline-white" type="submit">
                            <img width="20" height="20" src="{% static 'svg/heart.svg' %}"/>
                        </button>
                    </li>
                    {% else %}
                    <li>
                        <button class="btn btn-danger" type="submit">
                            <img width="20" height="20" src="{% static 'svg/heart.svg' %}"/>
                        </button>
                    </li>
                    {% endif %}
                </form>
                <li class="btn btn-white disabled">{{tweet.liked.all.count}}</li>
                
                <!-- <li><button class="btn btn-outline-secondary">
                    <img type="button" width="20" height="20" src="{% static 'svg/share.svg' %}"/>
                </button>
                </li>
                <li><button class="btn btn-outline-secondary">
                    <img type="button" width="20" height="20" src="{% static 'svg/message-circle.svg' %}"/>
                </button>
                </li>
                <li><button class="btn btn-outline-secondary">
                    <img type="button" width="20" height="20" src="{% static 'svg/trash.svg' %}"/>
                </button>
                </li> -->
            </ul>
    </div>
    {% endfor %}
</div>



{% endblock content %}